* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow-y: hidden;
}

body {
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.title {
  color: white;
  font-size: 3rem;
}

.dice-image {
  width: 200px;
  height: 200px;
  border-radius: 25%;

}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.even-odd-controls {
  padding: 15px;
}

.btn-even,
.btn-odd,
.dice-throw {
  margin: 0 5px;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: rgb(129, 231, 168);
  border: none;
  color: white;
  cursor: pointer;
}

.dice-throw {
  width: 75%;
  border-radius: 5px;
}

.btn-even:hover,
.btn-odd:hover,
.dice-throw:hover {
  border-radius: 5px;
  opacity: 0.5;
}
.result {
  margin-top: 15px;
  font-size: 2.5rem;
  color: rgb(223, 75, 231);
  text-shadow: 2px 2px white;
}

.btn-even-odd-select {
  background-color: green;
  color: white;
}

/* making animation */
